{
  "presets": [
    ["@babel/preset-env", {
    "targets": {"node": 4}
    }], 
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    ["module-resolver", {
      "extensions": [".js", ".ts"],
      "root": ["./"],
      "alias": {
        "src": "./src"
      }
    }]
  ]
}
